.product-page-wrapper {
    align-content: center;

    h1 {
        width: 100%;
    }

    .disabled-checkout {
        color: gray;
        font-style: italic;
    }

    .product-headline {
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        margin-bottom: 1em;
    }
}
