@import '../../../scss/variables';

.city-row {
    margin-bottom: 20px;
}

.reset-button {
    color: $primary-light;
}

.back-icon-container{
    width: 100%;
    margin: 1em;

    button {
        background-color: transparent;
        border: none;
        font-size: 2em;
        cursor: pointer;

        &:hover{
            color: $primary-light;
        }
    }
}
