{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Weekend Planner</a>
            </div>
        </div>
    </nav>
    <div class="container container-wrapper">
        {% if validlink %}

        <h1 class="border-title">Change Your Password</h1>
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

        <form method="post">{% csrf_token %}
            <fieldset>
                <div class="row field-password1 reset-password-form-item">
                    <div class="col-sm-4">
                        <label for="id_new_password1">New Password</label>
                    </div>
                    <div class="col-sm-8">
                        {{ form.new_password1 }}
                    </div>
                    <div class="row">
                        <div class="col-sm-12 error">
                            {{ form.new_password1.errors }}
                        </div>
                    </div>
                </div>
                <div class="row field-password2 reset-password-form-item">
                    <div class="col-sm-4">
                        <label for="id_new_password2">Confirm Your Password</label>
                    </div>
                    <div class="col-sm-8">
                        {{ form.new_password2 }}
                    </div>
                    <div class="row">
                        <div class="col-sm-12 error-password-reset">
                            {{ form.new_password2.errors }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 error-password-reset">
                        <input class="btn btn-secondary main-button" type="submit" value="Change My Password">
                    </div>
                </div>
            </fieldset>
        </form>

        {% else %}

        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>

        {% endif %}
    </div>
</div>

{% endblock %}