{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Weekend Planner</a>
            </div>
        </div>
    </nav>
    <div class="container container-wrapper">
        <h1 class="border-title">Password reset sent.</h1>
        <p>
            We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
        </p>
        <p>
            If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
        </p>
    </div>
</div>
{%endblock%}