{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Weekend Planner</a>
            </div>
        </div>
    </nav>
    <div class="container container-wrapper">
        <h1 class="border-title">Reset Your Password</h1>
        <form method="post">
            <h5>Please enter your email address.</h5>

            {% csrf_token %}
            <div class="error-password-reset">
                {{ form.email.errors }}
            </div>

            <p>
                <label for="id_email">Email address: </label>
                {{form.email}}

                <button class="btn btn-secondary main-button">Reset Password</button>
            </p>

            <p>We will send you an email with a link to reset your password.</p>

        </form>
    </div>
</div>
{%endblock%}