{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Weekend Planner</a>
            </div>
        </div>
    </nav>
    <div class="container container-wrapper">
        <h1 class="border-title">Successful Reset.</h1>
        <p>Your password has been set. You may go ahead and log in now.</p>
        <a href="/login">Login</a>

    </div>
</div>

{% endblock %}