@import '../../../scss/variables';

.order-card-wrapper {
    border: 1px solid $primary;
    padding: 1em;

    .header-wrapper {
        display: flex;
        justify-content: space-between;

        .header-title {
            color: $primary-light;
        }
    }

    .order-content {
        margin-top: 1em;
        width: 100%;

        .error-order {
            color: red;
            font-size: $font-bold;
        }

        .order-item-wrapper {
            display: flex;
            justify-content: space-between;
            border-bottom: 0.5px solid lightgray;
            padding: 0.5em;
            margin-bottom: 0.5em;
        }
    }

}