@import '../../../scss/variables';

.home-jumbotron {
    background-color: $background-white;

    .btn {
        background-color: $primary-dark;
        border-color: $primary-dark;

        &:hover {
            background-color: $primary-light;
            border-color: $primary-light;
        }
    }

    .btn-mg-right {
        margin-right: 1em;
    }
    .home-actions {
        margin-top: 1em;
    }

}

