/*
* 1. Colors
*/
$highlight-color: #021B79;
$highlight-color-shade-1: #0575E6;
$highlight-color-shade-2: #000428;
$highlight-secondary-light: #E8CBC0;
$highlight-secondary: #734b6d;
$highlight-secondary-bright: #ef629f;

$background: #FFFBF9;
/*
* 2. Fonts
*/
$font-cursive: 'Wendy One', sans-serif;
$font-default: 'Lato', sans-serif;

$font-regular: 400;
$font-bold: 700;

$font-large: 1.6rem;
$font-medium: 1.2 rem;
$font-small: 0.8 rem;

