/*
* 1. Colors
*/
$primary: #00317c ;
$primary-light: #465aac;
$primary-dark: #000c4f;
$secondary: #fff59d;
$secondary-light: #ffffcf;
$secondary-dark: #cbc26d;

$background-dark: #fffff5;
$background-light: #ffffef;
$background-white: #F5F5F6;
/*
* 2. Fonts
*/
$font-title: 'Inconsolata', monospace;
$font-text: 'Work Sans', sans-serif;
$font-color-light: white ;
$font-color-dark: black;

$font-regular: 400;
$font-bold: 700;

$font-large: 1.6rem;
$font-medium: 1.2rem;
$font-small: 0.8rem;

/*
* 3. Border
*/
$heavy-border: solid 4px $primary-dark;
