@import '../../../scss/variables';

.details-wrapper {
    background-color: white;
    button {
        margin-right: 0.5em;
    }

    .itinerary-image {
        margin-top: 1em;
        max-height: 60vh;
    }

    .nav .nav-tabs {
        background-color: $primary;

        .active {
            background-color: $primary-light;
        }
    }
}
