@import '../../../scss/variables';

.details-container {
    padding: 2em;

    .details-row {
        margin-bottom: 2em;

        .details-info {
            margin: 0.5em;
        }

        .no-data {
            font-size: 1em;
            color: gray;
        }
    }
}
