@import '../../../scss/variables';

.home-wrapper {
    .home-container {
        width: 100vw;
        min-height: 80vh;
        background: #fff url('/static/images/home.jpg') no-repeat right top;
        background-size: cover;
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        .buttons-inline {
            display: flex;
            flex-direction: row;

            .btn-mg-right {
                margin-right: 1em;
            }
        }
    }

    .list-container {
        .border-title{
            padding: 0.6em 2em;
            margin-bottom: 1em;
            background-color: $background-white;
            border-bottom: $heavy-border;
            border-top: $heavy-border;
            color: $font-color-dark;
        }
    }
}
