@import '../../../scss/variables';
@import '../../../scss/reset';

body, html {
    width: 100%;
    min-height: 100vh;
    font-family: $font-text;

    background: $background-white;

    h1, h2, h3, h4 {
        font-family: $font-title;
    }

    .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }

    .container-wrapper {
        padding-top: 70px;
    }

    .container-wrapper .jumbotron-white {
        background: $background-white;
    }

    .capitalize {
        text-transform: capitalize;
    }

    .btn-default {
        background-color: $primary-dark;
        border-color: $primary-dark;
    }

    .title {
        font-family: $font-title;
    }

    .app-container {
        min-height: 90vh;
    }

    .btn.btn-secondary.main-button {
        background-color: $primary-dark;
        border-color: $primary-dark;

        &:hover {
            background-color: $primary-light;
            border-color: $primary-light;
        }
    }

    .border-title {
        padding: 0.6em 2em;
        margin-bottom: 1em;
        margin-top:1em;
        background-color: $background-white;
        border-bottom: $heavy-border;
        border-top: $heavy-border;
        color: $font-color-dark;
    }

    ul li.errorli {
        list-style-type: circle;
        margin: 1em;
    }

    .reset-password-form-item{
        margin: 1em;
    }

    .error-password-reset {
        font-size: 0.8em;
        color: red;
    }
}

