@import '../../../scss/variables';
@import '../../../scss/reset';

body, html {
    min-width: 100vw;
    min-height: 100vh;
    font-family: $font-text;

    background: $background-white;

    h1, h2, h3, h4 {
        font-family: $font-title;
    }

    .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }

    .container-wrapper{
        padding-top:70px;
    }

    .container-wrapper .jumbotron-white {
        background: $background-white;
    }

    .capitalize {
        text-transform: capitalize;
    }

    .btn-default {
        background-color: $primary-dark;
        border-color: $primary-dark;
    }

    .title {
        font-family: $font-title;
    }

    .app-container{
        min-height:90vh;
    }
}
